<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Appenders>
        <RollingFile name="DailyRollingFile"
                     fileName="${sys:user.home}/F1Data/logs/f1-data.log"
                     filePattern="${sys:user.home}/F1Data/logs/f1-data-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="DailyRollingFile"/>
        </Root>
    </Loggers>
</Configuration>